.nav-wrapper {
    padding: 0 2rem;
}

.card-title {
    color: #000 !important;
}

.courses-cards {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.courses-cards .card {
    width: 30%;
}

.card-image {
    height: 200px;
}
.card-image img {
    width: 200px !important;
    height: auto;
    display: block;
    left: 50% !important;
    transform: translateX(-50%);

}
.price {
    font-size: 1.5rem;
}